@tailwind base;
@tailwind components;
@tailwind utilities;

/* Di file CSS global atau <style> tag */
html, body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

/* Untuk elemen yang mungkin menyebabkan overflow */
img, figure, section {
    max-width: 100%;
}
body {
    background-color: #2A251F ;
    font-family: 'Montserrat', sans-serif;
    background-size: 40px 40px;
}